@model List<System_rezerwacji_stolikow.Models.Reservation>

<h1> Lista rezerwacji</h1>

<table border="1">
    <tr>
        <th>Imię i nazwisko</th>
        <th>Telefon</th>
        <th>Data</th>
        <th>Godzina</th>
        <th>Liczba osób</th>

        <th>Akcje</th>
    </tr>

    @foreach (var reservation in Model)
    {
        <tr>
            <td>@reservation.Name</td>
            <td>@reservation.Phone</td>
            <td>@reservation.ReservationDate.ToShortDateString()</td>
            <td>@reservation.ReservationTime</td>
            <td>@reservation.PeopleCount</td>

            <td>
                <a asp-action="Delete"
                asp-route-id="@reservation.Id"
                onclick="return confirm('Czy na pewno chcesz usunąć rezerwację?')">
                Usuń

                </a>
            </td>
        </tr>
    }
</table>

